h1.title {
    font-family: 'Noto Serif', serif;
    /* font-weight: 400; */
}

/* header********************************************** */
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    z-index: 10;
    padding: 0 100px;
    box-sizing: border-box;
    /* background-color: antiquewhite; */
}

header>h1 {
    max-width: 200px;
}

header>h1 img {
    width: 100%;
}

header #nav {
    display: flex;
}

header #nav>li {
    margin-right: 30px;
}

header #nav>li>a {
    display: block;
    color: white;
    font-size: 20px;
    font-family: 'Noto Serif', serif;
    /* text-shadow: 0px 1px 2px black; */
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;

}
.hamWrap{
    position: relative;
    display: none;
    z-index: 100;
}
.ham {
    display: flex;
    align-items: center;
}

.ham>a {
    display: flex;
    align-items: center;
    /* background-color: skyblue; */
}

.ham>a>.hamBtn>span {
    display: block;
    width: 32px;
    height: 3px;
    margin: 8px 0;
    background: white;
    transition: 0.5s;
    box-shadow: 1px 1px 1px black;;
}

.ham>.active>.hamBtn>span:first-child {
    transform: rotate(45deg) translateY(9px) translateX(9px);
}

.ham>.active>.hamBtn>span:nth-child(2) {
    opacity: 0;
}

.ham>.active>.hamBtn>span:last-child {
    transform: rotate(-45deg) translateY(-6px) translateX(7px);
}
.ham .hamText{
    padding-left: 5px;
}
.ham .hamText>span {
    color: #fff;
    font-size: 16px;
    text-shadow: 2px 2px 2px #000;
}
/* mainpageWrap********************************************* */
.mainpageWrap {
    position: relative;
}

.main {
    width: 100%;
    height: 100%;
    /* background-color: antiquewhite; */
}

.main>ul {
    height: 100%;
    display: flex;
}

.main>ul>li {
    position: relative;
    height: 100%;
    width: calc(100% / 5);
    /* background-color: aquamarine; */
    filter: grayscale(100%) brightness(40%);
    transition: 0.5s;
}

.main>ul>li>.imgBox {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    opacity: 0;
}
.main>ul>li>.imgBox>img{
    width: 100%;
}
.main>ul>li.over>.imgBox {
    opacity: 1;
}

.main>ul>li:first-child {
    background: url(../images/mainimg_01.jpg) no-repeat;
}

.main>ul>li:nth-child(2) {
    background: url(../images/mainimg_02.jpg) no-repeat 60%;
}

.main>ul>li:nth-child(3) {
    background: url(../images/mainimg_03.jpg) no-repeat 50%;
}

.main>ul>li:nth-child(4) {
    background: url(../images/mainimg_04.jpg) no-repeat 80%;
}

.main>ul>li:last-child {
    background: url(../images/mainimg_05.jpg) no-repeat 50%;
}

.main>ul>.over {
    width: calc(100% / 4);
    filter: grayscale(0%) brightness(100%);
}

.main>div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: 0;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: 0.7s;
    padding-right: 250px;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.main>div>.info {
    position: relative;
    max-width: 560px;
    width: 100%;
    /* padding-right: 250px; */
    /* right: 250px;
    top: 150px; */
    padding: 0 10px;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
    text-shadow: 1px 1px 2px black;
    z-index: 1;
    /* background-color: white; */
}

.main>div>.info>ul {
    display: flex;
    /* width: 100%; */
}

.main>div>.info>ul>li {
    margin-right: 15px;
}
.main>div>.info>ul>li:nth-child(1){
    max-width: 64px;
}   
.main>div>.info>ul>li:nth-child(2){
    max-width: 64px;
}
.main>div>.info>ul>li:nth-child(3){
    max-width: 140px;
}
.main>div>.info>ul>li:nth-child(4){
    max-width: 90px;
}
.main>div>.info>ul>li:nth-child(5){
    max-width: 64px;
}
.main>div>.info>ul>li img{
    width: 100%;
}
.main>div>.info>h1 {
    color: white;
    letter-spacing: 0.2em;
    padding: 20px 0;
}

.main>div>.info>table {
    width: 50%;
    color: white;
    /* font-family: 'Noto Serif', serif; */
    font-size: 16px;
    /* background-color:blue; */
}

.main>div>.info>table td {
    padding: 10px 0;

}

.main>div>.info>.video {
    position: relative;
    margin-top: 50px;
    max-width: 560px;
}
.main>div>.info>.video>img:first-child{
    width: 100%;
}
.main>div>.info>.video>a{
    display: block;
    position: absolute;
    max-width: 128px;
    padding: 0 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.main>div>.info>.video>a>img:last-child {
    width: 100%;
}

.main>div>.closepageBtn {
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
    max-width: 54px;
    z-index: 5;
}

.main>div>.closepageBtn img {
    width: 100%;
    filter: drop-shadow(2px 2px 1px #000);
}

.main>div>.pageLogo {
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    z-index: 0;
}
.main>div.detailRe4>.pageLogo{
    max-width: 325px;
}
.main>div.detailMh>.pageLogo{
    max-width: 365px;
}
.main>div.detailRe8>.pageLogo{
    max-width: 320px;
}
.main>div.detailRe8>.pageLogo img{
    filter: drop-shadow(1px 1px 3px #000);
}
.main>div.detailSf6>.pageLogo{
    max-width: 335px;
}
.main>div.detailSf6>.pageLogo img{
    filter: drop-shadow(1px 1px 3px #000);
}
.main>div.detailEp>.pageLogo{
    max-width: 600px;
}

.main>.active {
    opacity: 1;
    z-index: 15;
}

.main>.detailRe4 {
    background-image: url(../images/mainimg_01.jpg)
}

.main>.detailMh {
    background-image: url(../images/mainimg_02.jpg)
}

.main>.detailRe8 {
    background-image: url(../images/mainimg_03.jpg)
}

.main>.detailSf6 {
    background-image: url(../images/mainimg_04.jpg)
}

.main>.detailEp {
    background-image: url(../images/mainimg_05.jpg)
}

.linkWrap {
    position: absolute;
    bottom: 50px;
    right: 100px;
    z-index: 10;
}

.linkWrap>ul>li {
    padding: 5px 0;
}

.linkWrap>ul>li:first-child {
    display: flex;
    justify-content: flex-end;
}

.linkWrap>ul>li>a {
    display: block;
    margin-right: 10px;
    width: 19px;
    height: 19px;
}

.linkWrap>ul>li>a:first-child {
    background: url(../icon/sns_01.png);
}

.linkWrap>ul>li>a:nth-child(2) {
    background: url(../icon/sns_02.png);
}

.linkWrap>ul>li>a:nth-child(3) {
    width: 23px;
    background: url(../icon/sns_03.png);
}

.linkWrap>ul>li>a:last-child {
    width: 25px;
    background: url(../icon/sns_04.png) no-repeat center center;
}

.linkWrap>ul>li>ul {
    display: flex;
}

.linkWrap>ul>li>ul>li {
    position: relative;
    margin-right: 5px;
    padding-right: 5px;
}

.linkWrap>ul>li>ul>li::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 10px;
    background: white;
    opacity: 0.5;
}

.linkWrap>ul>li>ul>li:last-child::after {
    display: none;
}

.linkWrap>ul>li>ul a {
    display: block;
    color: white;
    font-family: 'Noto Serif', serif;
    opacity: 0.5;
}

/* recommendWrap*************************************** */
.recommendWrap {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../images/rec_bg_01.jpg);
    z-index: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    transition: 1s;
}

.recommendWrap .innerBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    width: 100%;
    height: 80%;
    left: 50%;
    top: 53%;
    /* padding: 0 10px; */
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    z-index: 10;
    /* background-color: blueviolet; */
}

.recommendWrap h1 {
    position: absolute;
    top: -20px;
    left: 10px;
    color: white;
    text-shadow: 1px 1px 2px black;
}
.recommendWrap .innerBox>ul{
    padding: 0 10px;
    box-sizing: border-box;
}
.recommendWrap .recBanner>li {
    position: relative;
    max-width: 742px;
    margin: 15px 0;
    filter: grayscale(100%) brightness(60%);
    transition: 0.5s;
    /* background-color: antiquewhite; */
}

.recommendWrap .recBanner>li.active {
    filter: grayscale(0%) brightness(100%);
}

.recommendWrap .recBanner img {
    width: 100%;
}

.recommendWrap .pack {
    position: relative;
    max-width: 582px;
    width: 100%;
    /* height: 733px; */
}
.recommendWrap .pack>ul>li {
    display: block;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 50%;
    padding: 0 10px;
    box-sizing: border-box;
    transform: translateY(-50%);
    transition: 1s;
    z-index: 0;
}

.recommendWrap .pack>ul>li.active {
    opacity: 1;
    z-index: 1;
}

.recommendWrap .pack>ul>li>img {
    width: 100%;
}

.recommendWrap .pack>ul>li>p {
    position: absolute;
    max-width: 400px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    text-shadow: 1px 1px 2px black;
    padding: 0 15px;
    box-sizing: border-box;
    word-break: keep-all;
    color: white;
    /* background-color: blue; */
}

.recommendWrap .pack>ul>li .packBtn {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 200px;
    width: 100%;
    line-height: 40px;
    text-align: center;
    background: black;
    border: 1px solid #f60;
    opacity: 0.7;
}

.recommendWrap .pack>ul>li .packBtn>a {
    display: block;
    color: #f60;
}

/* .recommendWrap .recBg {
    width: 100%;
    height: 100%;
    background: url(../images/rec_bg_01.jpg);
    z-index: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    transition: 1s;
} */

/* .recommendWrap .recBg>li {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: 0.7s;

    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */

/* .recommendWrap .recBg>li:first-child {
    background: url(../images/rec_bg_01.jpg);
}

.recommendWrap .recBg>li:nth-child(2) {
    background: url(../images/rec_bg_02.jpg);
}

.recommendWrap .recBg>li:last-child {
    background: url(../images/rec_bg_03.jpg);
} */

/* .recommendWrap .recBg>li.active {
    opacity: 1;
} */

/* newsWrap**************************************** */
/* .newsWrap {
    position: relative;
} */

.newsWrap .innerBox {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1600px;
    width: 100%;
    height: 85%;
    top: 10%;
    margin: 0 auto;
    /* background-color: aquamarine; */
}

.newsWrap .title {
    position: absolute;
    top: 0;
    left: 20px;
    /* top: 30px; */
}

.newsWrap .title>span:last-child {
    position: absolute;
    top: 25px;
    left: 50px;
    color: white;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.newsWrap .mainNews {
    position: relative;
    max-width: 520px;
}
.newsWrap .innerBox>.mainNews .newsImg{
    max-width: 520px;
}
.newsWrap .innerBox>div .newsImg{
    position: relative;
}
.newsWrap .innerBox>div .newsImg img {
    position: relative;
    width: 100%;
    z-index: 10;
}

.newsWrap .innerBox>div .newsIcon {
    position: absolute;
    top: -60px;
    left: -60px;
    z-index: 10;
    width: 100px;
    line-height: 45px;
    text-align: center;
    background: #5a5959;
    color: white;
    font-size: 20px;
    transition: 0.5s;
}

.newsWrap .innerBox>div .newsBg {
    position: absolute;
    top: -30px;
    left: -30px;
    width: 100%;
    height: 100%;
    background: #9c9c9c;
    z-index: 0;
    transition: 0.5s;
}
.newsWrap .subnewsWrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center
}
.newsWrap .subnewsWrap>.subNews {
    position: relative;
    /* right: 5%;
    transform-origin: top right; */
    /* transform: scale(0.6); */
    max-width: 320px;
}
.newsWrap .subnewsWrap>.subNews:last-child{
    top: 80px;
}


.newstextBox {
    position: relative;
    max-width: 450px;
    padding-top: 10px;
    /* background-color: antiquewhite; */
}
.subnewsWrap .newstextBox{
    max-width: 320px;
}
.newstextBox p:first-child {
    font-size: 20px;
}
.subnewsWrap .newstextBox p:first-child{
    font-size: 12px;
}

.newstextBox p>span:first-child {
    color: #ff2d2d;
}
.newstextBox h2 {
    font-size: 28px;
    padding: 10px 0;
    color: black;
}
.subnewsWrap .newstextBox h2{
    font-size: 14px;
}
.newstextBox p:last-child {
    font-size: 16px;
}
.subnewsWrap .newstextBox p:last-child{
    font-size: 12px;
}
.newsWrap .innerBox>div .redArrow {
    position: absolute;
    top: 50%;
    right: -20%;
    transform: translateY(-50%);
    max-width: 64px;
    width: 100%;
    z-index: 15;
    opacity: 0;
    transition: 0.5s;
}

.newsWrap .innerBox>div .redArrow>img,
.newsWrap .innerBox .subnewsWrap>.subNews .redArrow>img {
    width: 100%;
}

.newsWrap .innerBox>div.active .redArrow,
.newsWrap .subNews.active .redArrow {
    opacity: 1;

    animation-name: arrow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-timing-function:linear;
}

@keyframes arrow{
    0%{
        right: -20%;
        opacity: 0;
    }
    50%{
        right: -23%;
    }
    100%{
        right: -20%;
        opacity: 1;
    }
}
.newsWrap .innerBox>div.active .newsBg,
.newsWrap .innerBox>.subnewsWrap>.subNews.active .newsBg {
    background: #ff2d2d;
    left: 30px;
}

.newsWrap .innerBox>div.active .newsIcon,
.newsWrap .innerBox>.subnewsWrap>.subNews.active .newsIcon {
    left: 0;
}

.newsWrap .newsmoreBtn {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    text-align: center;
}

.newsWrap .newsmoreBtn>a {
    display: block;
    width: 200px;
    line-height: 50px;
    font-size: 18px;
    background: #ff2c2c;
    color: white;
}

/* upgradeWrap*********************************** */
.upgradeWrap {
    width: 100%;
    height: 100%;
}
.upgradeWrap .upBg{
    position: relative;
}
.upgradeWrap .upBg>div {
    position: relative;
    left: 100%;
    width: 100%;
    height: calc(100vh / 3);
    /* transition: 1s; */
    /* filter: brightness(100%); */
}

.upgradeWrap .upBg01 {
    background: url(../images/upgrade_bg_01.jpg) center 30%;
}

.upgradeWrap .upBg02 {
    background: url(../images/upgrade_bg_02.jpg) center 50%;
}

.upgradeWrap .upBg03 {
    background: url(../images/upgrade_bg_03.jpg) center 20%;
}
.upgradeWrap .upBg .upbgLogo{
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
}
.upgradeWrap .upBg01>div{
    max-width: 602px;
}
.upgradeWrap .upBg02>div{
    max-width: 536px;
}
.upgradeWrap .upBg03>div{
    max-width: 595px;
}
.upgradeWrap .upBg img{
    width: 100%;
}
.upgradeWrap .upBg>.upText{
    position: absolute;
    top: 50%;
    left: 60%;
    max-width: 500px;
    transform: translateY(-50%);
    opacity: 0;
    /* background-color: aqua; */
}
.upgradeWrap .upBg>.upText>p{
    color: white;
    font-family: 'Noto Serif', serif;
    font-size: 4em;
    /* line-height: 32px; */
    /* z-index: 15; */
}
.upgradeWrap .upBg>.upText span{
    font-family: 'Noto Serif', serif;
    color: #a50000;
}
/* eventWrap****************************************** */
.eventWrap .innerBox {
    position: absolute;
    max-width: 1200px;
    width: 100%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: antiquewhite; */
}

.eventWrap .title {
    color: #a50000;
}

.eventWrap .eventList {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    /* background-color: aqua; */
}

.eventWrap .eventList>li {
    position: relative;
    max-width: 100px;
    height: 570px;
    border: 1px solid #a50000;
    filter: grayscale(100%);
    overflow: hidden;
    transition: 0.7s;
    background-repeat: no-repeat;
    /* background-position: top center;
    background-size: auto; */
}


.eventWrap .eventList>li:first-child {
    background-image: url(../images/event_banner_01.jpg);
}

.eventWrap .eventList>li:nth-child(2) {
    background-image: url(../images/event_banner_02.jpg);
}

.eventWrap .eventList>li:nth-child(3) {
    background-image: url(../images/event_banner_03.jpg);
}

.eventWrap .eventList>li:nth-child(4) {
    background-image: url(../images/event_banner_04.jpg);
}

.eventWrap .eventList>li:nth-child(5) {
    background-image: url(../images/event_banner_05.jpg);
}

.eventWrap .eventList>li:last-child {
    background-image: url(../images/event_banner_06.jpg);
}

.eventWrap .eventList>.active {
    max-width: 578px;
    filter: grayscale(0);
}
.eventWrap .eventList>.over{
    filter: grayscale(0);
}
.eventWrap .eventList>li>img {
    
    border-bottom: 1px solid #a50000;
    opacity: 0;
}

.eventWrap .eventList>li.active>img {
    opacity: 1;
}

.eventWrap .eventList .eventBox {
    /* position: relative; */
    width: 100%;
    /* height: 200px; */
    padding: 0 15px;

    box-sizing: border-box;
    /* background-color: aquamarine; */
}

.eventWrap .eventList>li .eventBox>h2 {
    color: #a50000;
    font-size: 34px;
    padding: 15px 0;
    display: none;
}

.eventWrap .eventList>li.active .eventBox>h2 {
    display: block;
}

.eventWrap .eventList>li .eventBox>p {
    position: absolute;
    bottom: 0;
    max-width: 400px;
    font-size: 19px;
    color: rgb(108, 106, 106);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 15px 0;
    transform-origin: top left;
    transform: rotate(-90deg);
    transition: 0.7s;
    z-index: 10;
}

.eventWrap .eventList>li.active .eventBox>p {
    bottom: initial;
    /* width: 100%; */
    max-width: 530px;
    color: white;
    overflow: initial;
    text-overflow: initial;
    white-space: initial;
    word-break: keep-all;
    padding: 15px 0;
    transform-origin: top left;
    transform: rotate(0) translateX(0);
}
.eventWrap .eventList>li .eventmoreBtn{
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: 0.7s;
}
.eventWrap .eventList>li.active .eventmoreBtn{
    opacity: 1;
    visibility: visible;
}
.eventWrap .eventList>li .eventmoreBtn>a{
    display: block;
    width: 150px;
    line-height: 45px;
    font-size: 20px;
    color: #a50000;
    background: #000;
    text-align: center;
    border: 1px solid #a50000;
}
/* goodsWrap*********************************** */
.goodsWrap {
    position: relative;
    
    background: url(../images/goods_background.jpg)no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}
.goodsWrap>.fp-tableCell{
    display: flex;
    justify-content: center;
    align-items: center;
}
.goodsWrap .goodsLogo {
    position: absolute;
    top: 10%;
    left: 0;
    max-width: 400px;
    width: 100%;
    z-index: 0;
}

.goodsWrap .goodsLogo>img {
    width: 100%;
}

.goodsWrap .goodsImg {
    position: relative;
    max-width: 880px;
    padding: 30px;
    box-sizing: border-box;
    z-index: 1;
}

.goodsWrap .goodsImg>img {
    width: 100%;
}

.goodsWrap .goodsText {
    position: absolute;
    max-width: 600px;
    top: 12%;
    z-index: 2;
}

.goodsWrap .goodsText>p {
    font-size: 38px;
    font-weight: 700;
    word-break: keep-all;
    /* white-space: pre-line; */
    text-shadow: 2px 2px 2px black;
    color: white;
}

.goodsWrap footer {
    position: absolute;
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: center;
    left: 50%;
    bottom: 2%;
    transform: translateX(-50%);
}

.goodsWrap footer>ul {
    margin: 0 10px;
}
.goodsWrap .preoderBtn{
    position: absolute;
    max-width: 300px;
    width: 100%;
    left: 50%;
    bottom: -80px;
    transform: translateX(-50%);
}
.goodsWrap .preoderBtn img{
    width: 100%;
}
.goodsWrap .preoderBtn>a{
    display: block;
    width: 100%;
    height: 100%;
}
.goodsWrap .rightBox{
    padding: 0 64px;
}
/* swiper */
.goodsDetail{
    position: relative;
    /* top: 42%;
    right: 15%; */
}
.swiper {
    max-width: 595px;
}
.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper {
    margin-left: auto;
    margin-right: auto;
}
.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}
.swiper-button-next {
    right: -50px;
}
.swiper-button-prev {
    left: -50px;
}

@media screen and (max-width: 1280px){
    header #nav{
        position: absolute;
        top: 0;
        right: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 100vh;
        background: rgba(0,0,0,0.7);
        transition: 0.5s;
    }
    header #nav.active{
        right: 0;
    }
    header #nav>li {
        margin-right: 0;
    }
    header #nav>li>a{
        padding: 5px 0;
    }
    .hamWrap{
        display: block;
    }
    .newsWrap .innerBox>div .redArrow{
        right: -10%;
        max-width: 32px;
    }
    @keyframes arrow{
        0%{
            right: -10%;
            opacity: 0;
        }
        50%{
            right: -13%;
        }
        100%{
            right: -10%;
            opacity: 1;
        }
    }
    .upgradeWrap .upBg>.upText{
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: none;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        background: rgba(0,0,0,0.5);
    }
    .upgradeWrap .upBg>.upText>p{
        max-width: 500px;
    }
    .eventWrap .title{
        position: absolute;
        left: 20px;
        top: -30px;
        font-size: 16px;
    }
    .eventWrap .eventList{
        flex-direction: column;
        align-items: center;
        padding: 0 30px;
        margin: 0;
        box-sizing: border-box;
    }
    .eventWrap .eventList>li{
        max-width: 400px;
        width: 100%;
        height: 50px;
    }
    .eventWrap .eventList>.active{
        max-width: 400px;
        height: 360px;
    }
    .eventWrap .eventList>li>.eventBox>h2{
        font-size: 18px;
        padding: 5px 0;
    }
    .eventWrap .eventList>li.active>.eventBox>p{
        font-size: 13px;
    }
    .eventWrap .eventList>li>.eventmoreBtn{
        bottom: 3%;
    }
    .eventWrap .eventList>li>.eventmoreBtn>a{
        width: 80px;
        line-height: 30px;
        font-size: 12px;
    }
    .eventWrap .innerBox .eventList>li{
        background-image: none;
    }
    .eventWrap .eventList>li>img{
        width: 100%;
        opacity: 1;
    }
    .goodsWrap .goodsImg{
        display: none;
    }
    /* .goodsDetail{
        right: initial;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
    }
    .goodsWrap .goodsText{
        right: initial;
        left: 50%;
        transform: translateX(-50%);
    }
    .goodsWrap .goodsText>p{
        font-size: 32px;
    }
    .swiper{
        max-width: 400px;
    }
    .goodsWrap .preoderBtn{
        max-width: 200px;
        bottom: -60px;
    } */
}

@media screen and (max-width: 1024px){
    header{
        padding: 0 20px;
    }
    .main>div{
        justify-content: center;
        padding-right: 0;
    }
    .newsWrap .innerBox{
        justify-content: center;
    }
    .newsWrap .innerBox{
        flex-direction: column;
    }
    .newsWrap .innerBox>div .newsIcon{
        width: 80px;
        line-height: 30px;
        font-size: 14px;
        top: -45px;
        left: -45px;
    }
    .newsWrap .subnewsWrap{
        position: relative;
        top: 50px;
        width: 100%;
        justify-content: space-around;
        flex-direction: row;

    }
    .newsWrap .subnewsWrap>.subNews:last-child{
        top: 0;
    }
    .newsWrap .mainNews{
        max-width: 320px;
    }
    .newstextBox p:first-child{
        font-size: 12px;
    }
    .newstextBox h2{
        font-size: 14px;
    }
    .newstextBox p:last-child{
        font-size: 12px;
    }
    .newsWrap .subnewsWrap .newstextBox>a>p:last-child{
        display: none;
    }
    .newsWrap .newsmoreBtn>a{
        width: 130px;
        line-height: 35px;
        font-size: 12px;
    }
}
@media screen and (max-width: 800px){
    .newsWrap .subnewsWrap{
        display: none;
    }
}
@media screen and (max-width: 767px){
    .main>ul{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* height: 80%; */
    }
    .main>ul>li{
        width: 100%;
        height: calc(100% / 7);
    }
    .main>ul>.over{
        width: 100%;
        height: calc(100% / 5);
    }
    .main>ul>li>.imgBox{
        max-width: 200px;
    }
    .main>ul>li.over>.imgBox{
        max-width: 250px
    }
    .linkWrap{
        bottom: 15px;
        right: 10px;
    }
    .main>div>.closepageBtn{
        right: 50px;
        top: 19%;
    }
    .recommendWrap .pack>ul>li>p{
        font-size: 14px;
    }
    .recommendWrap .pack>ul>li .packBtn{
        max-width: 150px;
        line-height: 30px;
        font-size: 12px;
    }
    .newsWrap .title{
        font-size: 14px;
    }
    .newsWrap .title>span:last-child{
        top: 14px;
        left: 30px;
    }
    .newsWrap .mainNews{
        padding: 0 50px;
    }
    .eventWrap .eventList>.active{
        max-width: 400px;
        height: 280px;
    }
    .eventWrap .eventList>li>.eventBox>h2{
        font-size: 13px;
        padding: 5px 0;
    }
    .eventWrap .eventList>li.active>.eventBox>p{
        font-size: 10px;
        padding: 0 10px;
    }
    .eventWrap .eventList>li>.eventmoreBtn{
        bottom: 3%;
    }
    .eventWrap .eventList>li>.eventmoreBtn>a{
        width: 80px;
        line-height: 20px;
        font-size: 10px;
    }

    .goodsWrap .goodsText{
        max-width: 500px;
    }
    .goodsDetail{
        max-width: 500px;
    }
    .goodsWrap footer>ul:nth-child(1){
        display: none;
    }
    .swiper-button-next,
    .swiper-button-prev{
        max-width: 32px;
        width: 100%;
    }
    .swiper-button-next{
        right: 10px;
    }
    .swiper-button-prev{
        left: 10px;
    }
    .swiper-button-next img,
    .swiper-button-prev img{
        width: 100%;
    }
    .goodsWrap .preoderBtn{
        max-width: 250px;
    }

}
@media screen and (max-width: 640px){
    header>h1{
        max-width: 100px;
    }
    .hamWrap{
        transform: scale(0.7);
    }
    .main>div{
        align-items: flex-start;
    }
    .main>div>.info{
        top: 13%;
    }
    .main>div>.closepageBtn{
        right: 25px;
    }
    .main>div>.closepageBtn{
        max-width: 38px;
    }

    .recommendWrap .innerBox{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        /* top: ; */
    }
    .recommendWrap h1{
        top: -42px;
        font-size: 14px;
    }
    .recommendWrap .pack{
        max-width: 250px;
        height: 300px;
    }
    .recommendWrap .pack>ul>li>p{
        font-size: 12px;
    }
    .recommendWrap .recBanner>li{
        max-width: 250px;
        margin: 5px 0;
    }

    #fp-nav ul li .fp-tooltip{
        font-size: 10px;
    }
    .upgradeWrap .upBg>.upText>p{
        font-size: 8.2vw;
    }
    .goodsWrap .goodsText{
        max-width: 400px;
        top: 24%;
    }
    .goodsWrap .goodsText>p{
        font-size: 24px;
    }
    .goodsDetail{
        max-width: 400px;
    }
    .goodsWrap .preoderBtn{
        max-width: 200px;
        bottom: -60px;
    }
}
@media screen and (max-width: 480px){
    header #nav{
        width: 100%;
    }
    .main>div>.info>h1{
        font-size: 18px;
    }
    .main>div>.info>table td{
        font-size: 12px;
    }
    .linkWrap>ul>li>ul a{
        font-size: 10px;
    }
    .goodsWrap .goodsText{
        max-width: 340px;
        top: 30%;
    }
    .goodsWrap .goodsText>p{
        font-size: 16px;
    }
    .goodsDetail{
        max-width: 340px;
    }
    .goodsWrap footer>ul:nth-child(2){
        display: none;
    }
}
@media screen and (max-width: 376px){
    .eventWrap .eventList>.active{
        height: 240px;
    }
}